version: "3.9"
services:
  users-service:
    build: ./users-service
    container_name: users-service
    ports:
      - "8001:8001"

  orders-service:
    build: ./orders-service
    container_name: orders-service
    depends_on:
      - users-service
    ports:
      - "8002:8002"
