apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
      - name: orders
        image: microlabacr.azurecr.io/orders-service:latest
        env:
        - name: USERS_SERVICE_URL
          value: "http://users-service:8001/users"
        ports:
        - containerPort: 8002
---
apiVersion: v1
kind: Service
metadata:
  name: orders-service
spec:
  type: LoadBalancer
  selector:
    app: orders
  ports:
    - port: 8002
      targetPort: 8002
